################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/ARM64/Debug
/obj/ARM64/Debug
/bin/ARM64/Release
/obj/ARM64/Release
/bin/x64
/obj/x64
/obj/ARM/Debug
/bin/ARM/Release
/obj/ARM/Release
/bin/ARM/Debug
/KasaEnergyLogger/usr/local/bin/kasaenergylogger
/KasaEnergyLogger.deb
/bin/x86/Debug
/obj/x86/Debug
